*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    display: grid;
    grid-template-areas: 
    "header header"
    "nav main"
    "nav main"
    "footer footer";
    grid-template-columns: 120px 1fr;
    grid-template-rows: auto 1fr auto auto;
    min-height: 100vh;
    background-color: #f6f8fb;
    color:#333;
}
header {grid-area: header; 
    background: #e74c3c; 
    padding:16px;}
nav {grid-area: nav; 
    background: #e6ecf2; 
    padding: 16px;}
main {grid-area: main;
     background: #ffffff; 
     padding: 16px;}
aside {grid-area:aside; 
    background:#f1f4f8; 
    padding:16px;}
footer {grid-area: footer; 
    background:e6ecf2;
     padding:16px; 
     text-align: center;
}
nav .login-btn {
  background-color: white;
  color: #e74c3c;
  border: 2px solid white;
  padding: 14px 24px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}
nav .login-btn p{
  display: inline;
  margin: 0;
  font-size: 15px;
  color: #e74c3c;
  font-family: 'Times New Roman', Times, serif;
}

nav .login-btn:hover {
  background-color: #ffe6e6;
  color: #c0392b;
}


nav .modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

nav .modal-content {
  background: white;
  margin: 8% auto;
  padding: 30px 40px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  position: relative;
}

nav .close {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 28px;
  color: #999;
  cursor: pointer;
  transition: color 0.3s;
}

nav .close:hover {
  color: #e74c3c;
}

nav .modal-content h2 {
  text-align: center;
  color: #e74c3c;
  margin-bottom: 20px;
}

nav .modal-content label {
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
  margin-top: 10px;
}

nav .modal-content input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

nav .modal-content button {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background-color: #e74c3c;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  cursor: pointer;

}

nav .modal-content button:hover {
  background-color: #c0392b;
}
header{
    grid-area: header;
    color:white;
    background: #e74c3c;
     padding:16px;
     text-align: center;
     font-size: 24px;
    font-weight: bold;
}
nav{
    grid-area: nav;
    background: #e6ecf2; 
    padding: 16px;
    color:#e74c3c;
    font-size: 15px;
    font-weight: bold;
}
ul{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: left;
    list-style-type: none;
    gap:10px;
}  
nav li{
    margin-bottom: 15px;
}
nav a {
    text-decoration: none;
    color: #e74c3c;
    font-weight: bold;
    transition: 0.3s;
}
nav a:hover{
    text-align: center;
    color: white;
    font-size: 20px;
    color:#c0392b;
}
main{
    grid-area: main;
    background: #ffffff;
     padding: 16px;
}
main .Events p{
    position: absolute;
    text-align: center;
    font-size: 15px;
    color: #555;
    top: -100px;
}
main p{
    margin-top: 25px;
    margin-left: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
main .Searchbar {
  display: flex;
  justify-content: center;
  align-items: center;     
  gap: 10px;               
  margin-top: 30px;
}
.Searchbar input[type="text"]{
     width: 50%;
    max-width: 400px;
    padding: 10px 15px;
    border-radius: 25px;
    border: 1.5px solid #ccc;
    font-size: 16px;
    transition: all 0.3s;
}
.Searchbar button{
    background-color: #e74c3c;
    color: white;
    border: 5px;
    padding: 15px 32px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}   

.Searchbar button:hover{
    color: #e74c3c;
}
footer{
    background-color:#e74c3c;
}
footer p{
    color: white;
}
.back-to-top{
    border-radius: 15px;
    position: fixed;
    bottom: 50px;
    right: 5px;
    background: #c0392b;
    color: black;
    padding: 15px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 5);
    text-shadow: #333;
    transition: 0.3s;
}
.back-to-top:hover{
    background: #c0392b;
    padding: 25px;
}
aside{
    grid-area: 16px;
    background: #ffffff;
     padding: 16px;
}