*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body.creare-cont-page{
    background-color: #f6f8fb;
    color: #333;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inregistrare-container{
    background-color: #fff;
    padding: 40px 50px;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
    box-shadow: 0 3px 20px rgba(0, 0,0, 0.1);
    width: 120%;
    max-width: 450px;
    text-align: center;
}

.inregistrare-container h1{
    color: #e74c3c;
    margin-bottom: 10px;
}
.inregistrare-container p{
    margin-bottom: 20px;
    text-align: left;
}
.inregistrare-container form{
    margin-bottom: 15px;
    text-align: left;
}
.inregistrare-container label{
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}