.contact-page{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dceeff;
}
.contact-page .contact-container{
    background-color: white;
    width: 60%;
    margin: 50px auto;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.contact-page h1{
    text-align: center;
    color: #004080;
    margin-bottom: 30px;
}

.contact-page label{
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: 333;
}
.contact-page input[type="text"]:focus,

.contact-page textarea:focus{
    border-color: #007bff;
    outline: none;
}

.contact-page input[type="radio"]{
    margin-right: 6px;
}

.contact-page input[type="submit"]{
    background-color: #007bff;
    color:white;
    border:none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition:background-color 0.3s;
}
.contact-page a{
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color:#007bff;
    font-weight: bold;
}
.contact-page a:hover{
    color:#005fcc;
}