body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dceeff;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.logo img{
    height: 50px;
}

.search-bar input{
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 220px;
    outline:none;
    transition: 0.3s;
}

.search-bar input:focus{
    border-color:#007bff;
}